/* ---- button-group ---- */

.button-group-container {
  display:inline-block;
}

.button-group {
    margin-right: 20px;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    display:inline-block;
}

/*.button-group:after {
    content: '';
    display: block;
    clear: both;
}*/

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
}

.button-group .button:first-child {
    border-radius: 0.5em 0 0 0.5em;
}

.button-group .button:last-child {
    border-radius: 0 0.5em 0.5em 0;
}
.button-label {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  margin-right: 5px;
}

.button-large {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-image: url("../images/textures/brushed-alum.png");
    background-color: peru;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #864313;
}

.button {
    display: inline-block;
    padding: 10px 10px;
    margin: 5px 0px;
    /*font-size: 24px;*/
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-image: url("../images/textures/brushed-alum.png");
    background-color: DarkSlateGrey;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #333;
}

.button:hover {
    background-color: DimGray;
}

.button:active, .button.is-checked {
    /*background-color: chocolate;*/
    box-shadow: 0 2px #333;
    transform: translateY(3px);
    background-color: DimGray;
}